fastapi
uvicorn[standard]
python-dotenv
python-multipart
unstructured

langchain
langchain-core
langchain-google-genai
langchain-pinecone
langgraph
langchain_huggingface
sentence-transformers
transformers
torch


pinecone-client
